$blue : #066c8b;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #292929;
    font-family: monospace, sans-serif;
    overflow: hidden;
}
header {
    background: #128fb7;
    color: white;
    text-align: center;
    line-height: 1.5;
    font-size: 1.2rem;
    padding-bottom: 1rem;
    transition: all .5s ease-out .2s;
}
section {
    background: #eee;
    display: flex;
    //position: absolute;
    //width: 100%;
    color: $blue;
    justify-content: space-around;
    font-weight: bold;
    #newClrs {
        padding: 3px;
        cursor: pointer;
    }
    .btn-wrap {
        display: flex;
        #easy, #hard {
            padding: 3px;
            cursor: pointer;
            margin-left: 3px;
        }
    }
    .active {
        background: $blue;
        color: white;
    }
    #play {
        color: black;
        padding: 3px;
    }
}
main {
    .box-container {
        width: 600px;
        margin: 100px auto;
        display: flex;
        flex-wrap: wrap;
        .box {
            background: blue;
            height: 150px;
            width: 30%;
            margin: 1.66%;
            border-radius: 10%;
            cursor: pointer;
            transition:background-color 0.3s ease-in-out 0.1s;
        }
    }
}